.header{
    background-color:white;
    color:#9ef6f6;
    text-align: center;
    position: sticky;
}

.footer_2_1{
    background-color:#9ef6f6;
    ;
}

.footer_3_2{
    background-color: #6eb087;
}

body{
    font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color:white;

}

body .mizuiro{
    background-color: #9ef6f6;
}

.title_place{
    color:rgb(76, 33, 25);
    text-align: center;

}

.title_place span{
    color: rgb(164, 54, 34);
}

/* 投稿者間の縦幅 */
.report {
    margin-top: 0px;
    background-color:white;
}


/* ブロック１とブロック２ */
.report .uvoice {
    display: table;
    background: white;
    margin-bottom: 4px;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

/* ブロック１（左側） */
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* プロ写真と名前ブロックの幅 */
.report .uvoice dt {
    width: 150px;
}


/* 一言コメント欄をプロ写の横に持ってくる */
.report .uvoice dd, .report .uvoice dt {
    display: table-cell;
    vertical-align: middle;
}

dt {
    display: block;
}


/* プロフィール画像を丸くカット */
.report .uvoice dt img {
    /* 丸の大きさ */
    width: 100px;
    /* 角取り（フィレット） */
    border-radius: 50px;
    display: block;
    margin: 0 auto 10px;
}


/* 写真下の文字に関するところ */
.report .uvoice dt {
    font-size: 12px;
    text-align: center;
} 




p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.uvoice dt div p{
    font-size: 15px;
}


/* 吹き出し（かっこ部分） */
.arrow_box{
	position: relative;
    background-color:#f4fdfd;
    border-radius: 20px;
	border: 3px solid #9ef6f6;
    padding: 25px;
}
.arrow_box:after{
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/* 一言コメントないのspanタグ */
.report .uvoice dd p span {
    display: block;
    font-size: 12px;
    color: tomato;
    margin-top: 10px;
    margin-left: 0em;
    margin-bottom: 5px;
}



/* 007 */
.button007 a {
    border: orange 3px solid;
    background: #fbfb46;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    max-width: 300px;
    padding: 20px 25px;
    color: #2d2c2c;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
/* .button007 a:before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -1em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #6bb6ff;
    transition: 0.3s;
}
.button007 a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: #6bb6ff;
    transition: 0.3s;
} */
.button007 a:hover:before, .button007 a:hover:after {
    right: -0.5em;
}
.button007 a:hover {
    background: #edf6ff;
    color: #6bb6ff;
}

/* 0070 */
.button0070 a{
    font-size: 15px;
    border: 1px solid black;
    background: #9ef6f6;
    border-radius: 30%;
    width: 50px;
    height: 20px;
    position: relative;
    display: flex;
    position: absolute;
    top:72px;
    right: 10px;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    max-width: 100px;
    padding: 15px 20px;
    color: #161515;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index: 100;
    opacity: 0.82;
}

/* .button0070 a:before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -1em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #6bb6ff;
    transition: 0.3s;
}
.button0070 a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: #6bb6ff;
    transition: 0.3s;
}
.button0070 a:hover:before, .button0070 a:hover:after {
    right: -0.5em;
} */

.button0070 a:hover{
    background: orange;
    color: #2d2c2c;
}