@charset "UTF-8";

html {
	overflow-y: scroll;
	/* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}

/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}

body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}

li {
	list-style: none;
}

a {
	outline: none;
	color: inherit;
	text-decoration: none;
}

img {
	border: 0px;
	vertical-align: bottom;
}

/* --------------------------------------------------- */

header .hum_menu a {
    display: block;
    height: 20px;
    width: 40px;
    padding: 10px 0;
    background-color: #eeeaec;
    text-align: center;
}
header .hum_menu span {
    display: block;
    height:  2px;
    width: 20px;
    background-color: #aaa;
    margin: 3px auto;
}
header ul {
    display: none;
    margin-right: 40px;

}
header ul li {
    width: 50%;
    color: #acacac;
    line-height: 40px;
    text-align: left;
    font-weight: 12px;
    text-indent: 8px;
}
header ul li a {
    display: block;
    border: 1px solid #555;
    border-width: 1px 1px 0 0;
}
header.open {
    background-color: #eeeace;
}
header.open ul {
    display: flex;
    flex-wrap: wrap;
}


header h2{
	height: 3vh;
    display: flex;
    padding-top: auto;
    float: left;
    color:#9ef6f6;
    font-size: 15px;
}
.message_top{
	background-color: #B3E692;
	width: 100%;
	margin-top: 5vh;
	font-size:  10px;
	
  }
  
  .message_top h1{
	color: whitesmoke;
	flex-direction: column;
	text-align: right;
	border-bottom: 3vh white solid;
  }
  
  
  span{
	color:orange;
  }

  .zaitaku_list_1 img{
    scale: 0.8;
  }
  
  .ten_list_1 {
    scale:0.8;
  }
  
  .ten_list_1:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  
  .zaitaku_list_1:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
  }

  img{
    width: 100%;
    /* height: 400px; */
  }

  body {
    font-family: "YakuHanJP","Noto Sans JP",sans-serif;
    height: 100%;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    }
    
  #wrapper_1{
      /* position: relative;
      display: flex; */
      /* justify-content: space-between;
      align-items: center; */
      /* width: 100%; */
      /* height: 100%; */
      /* cursor: pointer; */
      }
      
  #box_1{
      background: linear-gradient(to right, #9ef6f6 50%, #9ef6f6 50%);
      /* display: flex; */
      align-items: center;
      justify-content: space-around;
      top:0;
      width:100%;
      /* height: 75vh; */
  }



  /* header {
    padding:10px;
    background: #ccc;
  } */
  
  #nav-drawer {
    position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーの形をCSSで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background:orange;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -7px;
  }
  #nav-open span:after {
    bottom: -14px;
    content: "MENU";
    font-size: 5px;
  }
  
  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 200px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  
  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  .header-logo-menu{
   display: flex;
   display: -moz-flex;
   display: -o-flex;
   display: -webkit-flex;
   display: -ms-flex;
   flex-direction: row;
   -moz-flex-direction: row;
   -o-flex-direction: row;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
}

/* .hum p{
  color: tomato;
  font-size: x-large;
  border-bottom: #B3E692 5px solid;
} */

.button_hum a{
  font-size:x-large;
  align-items: center;
  color: hsl(93, 98%, 24%);

}


