{% extends "base.html" %}
{% block content %}
   
<form action="/add" method="post">
    <p>Twitterアカウント名<br>
        <input type="text" size="30" name="display_name">
    </p>

    <p>TwitterのID<br>
        <input type="text" size="50" name="twitter_id">
    </p>
    

    <p>性別<br>
        <input type="radio" name="era" value="man"> 男性
        <input type="radio" name="era" value="woman"> 女性
    </p>

    <p>年代<br>
        <input type="radio" name="era" value="yung"> 10代〜20代
        <input type="radio" name="era" value="adalt"> 30代〜40代
        <input type="radio" name="era" value="old"> 50代〜
    </p>

    
    <p>sunabacoの受講会場<br>
        <select name="place">
        <option value="AMAKUSA">AMAKUSA</option>
        <option value="YATUSHIRO">YATUSHIRO</option>
        <option value="FUKUOKA">FUKUOKA</option>
        <option value="TAKAMATSU">TAKAMATSU</option>
        <option value="IDOBA">IDOBA</option>
        <option value="EBETSU">EBETSU</option>
        <option value="KOZA">KOZA</option>
        </select>
    </p>

   
    <p>卒業後の成果を一言でお願いします！！<br>
        <input type="text" size="50" name="hitokoto_0">
    </p>


    <p>これまでsunabacoで受講した講座<br>
        <input type="text" size="50" name="seibetu">
    </p>
    
    <p>卒業から初報酬（収入）までの時間<br>
        <input type="text" size="50" name="Total_time">
    </p>
    <p>方法があらかじめわかっていた場合の初報酬までの時間（目安）<br>
        <input type="text" size="50" name="sunabaco">
    </p>
    <p>この案件（転職先の業務）を行う上で最も重要だと思った言語<br>
        <input type="text" size="50" name="hitokoto_ten">
    </p>
    <p>sunabaco受講前のプログラミングスキル<br>
        <input type="text" size="50" name="content_ten1">
    </p>
    <p>初報酬までにかかった費用（教材費、web会員費など）<br>
        <input type="text" size="50" name="content_ten2">
    </p>
    <p>初案件の報酬金額<br>
        <input type="text" size="50" name="reward_first">
    </p>


    <p>卒業してからの行動<br>
        <textarea name="content_1" cols="30" rows="5"></textarea>
    </p>
    <p>仕事をとるための行動<br>
        <textarea name="content_2" cols="30" rows="5"></textarea>
    </p>
    <p>取れた案件の内容<br>
        <textarea name="content_3" cols="30" rows="5"></textarea>
    </p>
    <p>仕事が取れてからの行動<br>
        <textarea name="content_ten3" cols="30" rows="5"></textarea>
    </p>
    <p>感想<br>
        <textarea name="sougyou" cols="30" rows="5"></textarea>
    </p>
    <p>受講生（受講希望者）に一言お願いします！🙇<br>
        <textarea name="memo_last" cols="30" rows="5"></textarea>
    </p>

    
    

    <input type="submit" name="save" value="送信">
</form>

<a href="/">mainページへ</a>

{% endblock %}