{% extends "base.html" %}

{% block content %}
   
<h1 class="title_place">🍅sunabaco in amakusa🍅</h1>
<p>天草の卒業生を紹介</p>

{% for item in task_list %}
<div class ="report">
    <dl class ="uvoice">
        <table border="1">
            <dt>
                
                <img src="https://static.yosetti.com/assets/img/icon_dummy2/52.jpg" mid="2251582">
                
                
                
                <div><p>{{item["display_name"]}}</p></div>
                <br>
                <form action="/task/{{item['id']}}" method="post">
                    <input type="submit" value="プロフィールを表示">
                </form>
            </dt>
            <dd>
                <div class="arrow_box">
                    <p><h2>{{item["hitokoto_0"]}}</h2></p>
                    <p><span>これまでのsunabco受講歴</span><br> {{item["users_type"]}}</p>
                </div>
            </dd>
        </table>
    </dl>  
</div>
    
<form action="/del/{{item['id']}}" method="post">
    <input type="submit" value="削除" onclick="return check()">
</form>
{% endfor %}

<a href="/add">タスク追加ページ</a>
<a href="/">戻る</a>



{% endblock %}