<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>github</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style_1.css">
    <link rel="stylesheet" href="../static/css/style_2_1.css">
    <link rel="stylesheet" href="../static/css/style_2_2.css">
    <link rel="stylesheet" href="../static/css/style_3_1.css">
    <link rel="stylesheet" href="../static/css/style_3_2.css">
    
</head>
<body class="white">
    <h2 class="header">🏠おうちでおしごと🏠</h2>
    {% block content %}

    {% endblock %}
    
</body>
</html>