{% extends "base.html" %}

{% block content %}

<body>
<h1>ここはメインページです！！</h1>
<div id="wrapper_1">

    <div id="box_1">

      
      <div class="zaitaku_list_1">
        <div class="white_border">
        <a href="/zaitaku_list" name="在宅"><img src="../static/IMG/zaitaku.png" width="200" height="240"></a>
        </div>
        <div class="daimei_1"><h2></h2></div>

      </div>
      

      
      
      <div class="ten_list_1">
        <a href="/ten_list" name="就職・転職"><img src="../static/IMG/ten.png" width="130" height="130"></a>
          <li>
            <a href="/ten_list" name="就職・転職">転職・就職</a>
          </li>
      </div>
    </div>

</div>

<div class="start">
    <p>おうちでおしごと</p>
    <div class="top_0"><img src="../static/IMG/zaitaku.png"></div>
</div>
</body>

{% endblock %}