{% extends "base.html" %}

{% block content %}

<div class="top_class">
<div class="message_top">
  
  
    
  

      <h1>おうちでおしごと<br>
        さあ、はじめよう！！!<br>
        みんなの『<span>はじめて</span>』をのぞいてみよう<br></h1>

      



<!-- <h1>おうちでおしごと<br>
さあ、はじめよう！！<br>
みんなの一歩目をのぞいてみよう<br>
</h1> -->
<!-- <h2>↓↓あなたはどっち？？？↓↓</h2> -->
</div>
<div id="wrapper_1">

    <div id="box_1">

      
      <div class="zaitaku_list_1">
        <a href="/zaitaku_list" name="在宅"><img src="../static/IMG/zaitaku_111.png" width="600" height="400"></a>
        <div class="daimei_1"><h2></h2></div>

      </div>
      <div class="ten_list_1">
        <a href="/ten_list" name="就職・転職"><img src="../static/IMG/ten_111.png" width="600" height="400"></a>
      </div>
    </div>

</div>
</div>

<h2 class="footer_2_1">tomato</h2>
{% endblock %}