{% extends "base.html" %}

    {% block content %}
    <div class="outi">
        <!-- <h1 class="outi_1">🍅</h1> -->
        <div class="mokuteki_1">
            <h1>目的</h1>
                <h2>SUNABACO卒業生の"はじめて"がぎゅっとつまった『けいじばん』<br>
                見やすさをとことん追及したよ!!<br>
                多くのひとの参考になったらいいな・・・</h2>
        
                <h1>内容</h1>
                <h2>フリーランス（はじめて取り組んだ案件の体験談）と<br>就職・転職（SUNABACO受講後の就活の体験談）にわけているよ!<br>
                SUNABACO卒業生の新しいスタートをのぞいてみませんか!!🙌<br>
                みんなの話をお手本に！!<br>
                さあ、やってみよう！</h2>
        </div>
    </div>
{% endblock %}