<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sentaku">
        <div class="message_top">
            <h1>おうちでおしごと<br>
                さあ、はじめよう！！!<br>
                みんなの『<span>はじめて</span>』をのぞいてみよう<br>
            </h1>
          </div>
        
           <h2>あなたの情報も教えてください！！（回答後にメインんページに移動）</h2>
          <div id="wrapper_1">
            <div id="box_1">
              <div class="sentaku_btn">
                <a href="/add" name="在宅">在宅でもできる仕事[案件]をして、報酬を得た経験がある<br>（プログラミング以外でも大丈夫です！）</a>
              </div>
              <div class="sentaku_btn">
                <a href="/add_ten" name="転職">sunabaco受講後に就職・転職に成功した方<br>（sunabaco受講経験者のみの回答）</a>
              </div>
              <div class="sentaku_btn">
                <a href="/login" name="ログイン">その他、もしくは経験がない方</a>
              </div>
            </div>
          </div>
    </div>
</body>
</html>



  
  
