{% extends "base.html" %}

{% block content %}

{% for item in ten_task %}

<div id="wrapper_3_1">
    <div id="fixed-area_3_2"><!--左固定エリア--> 
        <div class="circle_2_3_1">
            <div class="syasin_3_1">
                <div class="image_mouseover_3">
                <!-- <img src="../static/IMG/yung_woman.png"> -->
                <img src="../{{item['Flask_Logo']}}"> 
                <!-- <img src="../static/IMG/old_woman.png">  -->
                </div>


            </div>
                 

            
            <div class="note8">
                <div class="sen8">
                    「{{item["display_name"]}}」といいます<br>
                    {{item["hitokoto_ten"]}}<br>
                    {{item["sunabaco"]}}:{{item["place"]}}<br>
                    TwitterのID:{{item["twitter_id"]}}<br>
                    

                </div>
            </div>

        </div>


    </div>
    
      
    <div id="container"><!--右エリア-->
        <body class="white">
            <div class="button0070">
                <a href="/ten_list">もどる</a>                
            </div>
            
        
            <section>
                <div class="area">
                <div class="situmon_zaitaku_1">SUNABACO受講後の就職先・転職先はどこで見つけたんですか？？</div>
                <!-- <div class="ans_zaitaku">{{item["content_1"]}}</div> -->
                <div class="ans_bl">
                <div class="ans_zaitaku">
                    <div class="ans_zaitaku_sen">
                        {{item["content_ten1"]}}
                    </div>
                </div>
                <div class="small_img">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>
                </div>

                
                </div>
            </section>

            <section>
                <div class="area">
                <div class="situmon_zaitaku_1">SUNABACO受講後の就職・転職先ではどのようなお仕事をしていますか？？</div>
                <div class="ans_bl">
                <div class="ans_zaitaku">
                    <div class="ans_zaitaku_sen">
                        {{item["content_ten2"]}}
                    </div>
                </div>   
                <div class="small_img">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>
                </div>
            
                </div>
            </section>

            <section>
                <div class="area">
                <div class="situmon_zaitaku_1">就職・転職した感想をお聞かせください！(楽しかったこと、苦労話など）</div>
                <div class="ans_bl">
                <div class="ans_zaitaku">
                    <div class="ans_zaitaku_sen">
                        {{item["content_ten3"]}}
                    </div>
                </div>
                <div class="small_img">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>
                </div>
                </div>
            </section>

            <section>
                <div class="area">
                <div class="situmon_zaitaku_1">在宅で仕事がしたい、就職・転職がしたい方へ、アドバイスをお願いします！</div>
                <div class="ans_bl">
                <div class="ans_zaitaku">
                    <div class="ans_zaitaku_sen">
                        {{item["memo_last"]}}
                    </div>
                </div>
                <div class="small_img">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>
                </div>
                </div>
            </section>
            


            <form action="/del/{{item['id']}}" method="post">
                <input type="submit" value="削除" onclick="return check()">
            </form>

                {% endfor %} 
            
                <footer><small>&copy; separate corporation.</small></footer>
            
        </body>
    </div>
</div>
  
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-4/js/6-4.js"></script>



<h2 class="footer_2_1">tomato</h2>
{% endblock %}