{% extends "base.html" %}

{% block content %}
   

<h1 class="title_place">🍅在宅🍅</h1>
{% for item in task_list %}


<div class ="report">
    <dl class ="uvoice">
        <table border="1">
            <dt>
                
                <img src="{{ user_image }}" mid="2251582">
                
                
                
                <div><p>{{item["display_name"]}}</p></div>
                <br>
                <form action="/zaitaku_task/{{item['id']}}" method="post">
                    <input type="submit" value="プロフィール">
                </form>
            </dt>
            <dd>
                <div class="arrow_box">
                    <p><h2>{{item["hitokoto_0"]}}</h2></p>
                </div>
            </dd>
        </table>
    </dl>  
</div>
    
<form action="/del/{{item['id']}}" method="post">
    <input type="submit" value="削除">
</form>
{% endfor %}

<a href="/">戻る</a>



{% endblock %}