{% extends "base.html" %}

{% block content %}

       
{% for item in zaitaku_task %}
<div id="wrapper_3_1">
    <div id="fixed-area_3_1"><!--左固定エリア--> 
        <div class="circle_2_3_1">

            <div class="syasin_3_1">
                <div class="image_mouseover_3">
                <img src="../{{item['Flask_Logo']}}" mid="2251582"> 
                </div>

            </div>
            
            <div class="note8">
                <div class="sen8">
                    「{{item["display_name"]}}」といいます<br>
                    {{item["sunabaco"]}}です！<br>
                    {{item["hitokoto_0"]}}<br>
                </div>
            </div>




            <!-- <form action="/del/{{item['id']}}" method="post">
                <input type="submit" value="削除">
            </form> -->

        </div>


    </div>
    
      
    <div id="container"><!--右エリア-->
        <body class="white">
            <div class="button0070">
                <a href="/zaitaku_list">戻る</a>                
            </div>

            <section>
                <div class="area">
                <div class="situmon_zaitaku">案件（仕事）を見つけた場所はどこですか？</div>
                <!-- <div class="ans_zaitaku">{{item["content_1"]}}</div> -->
                <div class="ans_zaitaku_1">
                    <div class="ans_zaitaku_sen">
                        {{item["content_1"]}}
                    </div>
                </div>
                <div class="small_img_1">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>
                <p></p>
                </div>
              <!--/area1--></section>
                <section>
                <div class="area">
                <div class="situmon_zaitaku">案件（仕事）の内容はどんなものでしたか？？</div>
                <div class="ans_zaitaku_2">
                    <div class="ans_zaitaku_sen">
                        {{item["content_2"]}}
                    </div>
                </div>   
                <div class="small_img_2">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>
            
                </div>
              <!--/area2--></section>
                <section>
                <div class="area">
                <div class="situmon_zaitaku_1">案件（仕事）を自分で取ってきてから、完了させるまでにかかった時間を教えてください！</div>
                <div class="ans_zaitaku_3">
                    <div class="ans_zaitaku_sen">
                        {{item["Total_time"]}}
                    </div>
                </div>
                <div class="small_img_3">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>

                </div>
                </section>

                <section>
                <div class="area_1">
                <div class="situmon_zaitaku_1">初めての案件（仕事）に取り組んでみた感想をお聞かせください！(楽しかったこと、苦労話など）</div>
                <div class="ans_zaitaku_4">
                    <div class="ans_zaitaku_sen">
                        {{item["content_3"]}}
                    </div>
                </div>
                <div class="small_img_4">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>
                </div>
                </section>

                <section>
                <div class="area">
                <div class="situmon_zaitaku">報酬金額はおいくらでしたか？？</div>
                <div class="ans_zaitaku_5">
                    <div class="ans_zaitaku_sen">
                        {{item["reward_first"]}}
                    </div>
                </div>
                <div class="small_img_5">
                    <img src="../{{item['Flask_Logo']}}"> 
                </div>
                </div>
                </section>

                <section>
                    <div class="area">
                    <div class="situmon_zaitaku">フリーランスで働きたい人に向けて何か一言お願いします！</div>
                    <div class="ans_zaitaku_6">
                        <div class="ans_zaitaku_sen">
                            {{item["memo_last"]}}
                        </div>
                    </div>
                    <div class="small_img_6">
                        <img src="../{{item['Flask_Logo']}}"> 
                    </div>
                    </div>
                </section>

                <section>
                    <div class="area">
                    </div>
                </section>

              
                <form action="/del/{{item['id']}}" method="post">
                    <input type="submit" value="削除">
                </form>
                <!-- <form action="/del_check/{{item['id']}}" method="post">
                    <input type="password" name="pass_id" value="{{item['id']}}">
                    <input type="submit" name="save" value="DEL">
                </form> -->
                
                <!-- <form action="/del_check/{{item['id']}}" method="post">
                    <input type="hidden" name="task_id" value="{{item['id']}}">
                    <input type="number" size="50" >
                    <input type="submit" name="save" value="更新">
                </form> -->
                


                

{% endfor %} 
                

                
                <footer><small>&copy; separate corporation.</small></footer>
                </section>
        </body>
    </div>
</div>
  
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-4/js/6-4.js"></script>



<h2 class="footer_2_1">tomato</h2>
{% endblock %}