{% extends "base.html" %}

{% block content %}
       

<div id="wrapper_2_1">
    <div id="fixed-area_2_1"><!--左固定エリア-->
        <div class="circle_2_1_1">
            <div class="circle_2_1_2">
                <div class="syasin_2_1" >
                    <div class="image_mouseover_2">
                    <img src="../static/IMG/zaitaku_woman.png" width="230" height="280">
                    </div>
                </div>
            </div>
        </div>
    
        <h1 class="class_2_1">ふりーらんす</h1>
    </div>
      
    <div id="container"><!--右エリア-->
    
        <body class="white">

            <div class="button007">
                <a href="/add">入力フォームに移動</a>
                
            </div>

            <div class="detail">
            <form action="/zaitaku_detail" method="post">
                <p>受講会場で探す<br>
                    <select name="place">
                    <option value="">選択されていません</option>
                    <option value="AMAKUSA">AMAKUSA</option>
                    <option value="YATUSHIRO">YATUSHIRO</option>
                    <option value="FUKUOKA">FUKUOKA</option>
                    <option value="TAKAMATSU">TAKAMATSU</option>
                    <option value="IDOBA">IDOBA</option>
                    <option value="EBETSU">EBETSU</option>
                    <option value="KOZA">KOZA</option>
                    <option value="ONLINE">ONLINE</option>
                    </select>
                </p>

                <!-- <p>SUNABACO受講経験の有無<br>
                    <input type="radio" size="50" name="sunabaco" value="SUNABACO受講歴あり">あり
                    <input type="radio" size="50" name="sunabaco" value="SUNABACO受講歴なし">なし
                </p> -->


                <input type="submit" name="save" value="検索">
            </form>
            </div>


            <div class="button0070">
                <a href="/">もどる</a>                
            </div>

        <section>
            {% for item in task_list %}


            <div class ="report">
                <dl class ="uvoice">
                    <table border="1">
                        <dt>
                           

                            <!-- <img src="{{ user_image }}" mid="2251582"> -->
                            <img src="{{item['Flask_Logo']}}" mid="2251582">
                            
                            
                            
                            
                            <div><p>{{item["display_name"]}}</p></div>
                        
                            <form action="/zaitaku_task/{{item['id']}}" method="post">
                                <input type="submit" value="プロフィール" class="btn-submit">
                            </form>
                            
                        </dt>
                        <dd>
                            <div class="arrow_box">
                                <p><h2>{{item["hitokoto_0"]}}</h2></p>
                            </div>
                        </dd>
                    </table>
                </dl>  
            </div>
            <!-- <form action="/del/{{item['id']}}" method="post">
                <input type="submit" value="削除">
            </form> -->
                
            
            {% endfor %} 
            

            <footer><small>&copy; separate corporation.</small></footer>
        </section>
        </body>
        
    </div>
</div>
  
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/6-4/js/6-4.js"></script>



<h2 class="footer_2_1">tomato</h2>
{% endblock %}